

script( src='/zero/js/jquery.js' )
script( src='/zero/js/waypoints.min.js' )
script( src='/zero/js/bootstrap.min.js' )
script( src='/zero/js/scripts.js' )
script( src='/zero/js/jquery.flexslider.js' )
script( src='/zero/js/modernizr.js' )